{% extends 'base.html.twig' %}

{% block title %}Liste des Groupes{% endblock %}

{% block body %}
    {% include '_layout/import.html.twig' %}
    {% include '_layout/flash_messages.html.twig' %}

    <br>
    <a href="{{ path('app_create') }}" class="btn btn-primary">Créer un groupe</a>

    <h1>Liste des Groupes</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Actions</th>
            <th>Nom du Groupe</th>
            <th>Origine</th>
            <th>Ville</th>
            <th>Année de Début</th>
            <th>Année de Séparation</th>
            <th>Fondateurs</th>
            <th>Membres</th>
            <th>Courant Musical</th>
            <th>Présentation</th>
        </tr>
        </thead>
        <tbody>
        {% for band in bands %}
            <tr>
                <td>
                    <a href="{{ path('app_edit', { 'id': band.id }) }}" class="btn btn-primary">✏️ Modifier</a>
                    <form action="{{ path('app_delete', {'id': band.id}) }}" method="POST"
                          onsubmit="return confirm('Êtes-vous sûr de supprimer ce groupe?');">
                        <input type="hidden" name="token" value="{{ csrf_token('delete-band') }}"/>
                        <button type="submit" class="btn btn-danger">🗑️ Supprimer</button>
                    </form>
                </td>
                <td>{{ band.name }}</td>
                <td>{{ band.origin }}</td>
                <td>{{ band.city }}</td>
                <td>{{ band.startYear }}</td>
                <td>
                    {% if band.separationYear is not null and band.separationYear != 0 %}
                        {{ band.separationYear }}
                    {% endif %}
                </td>
                <td>{{ band.founders }}</td>
                <td>
                    {% if band.members is not null and band.members != 0 %}
                        {{ band.members }}
                    {% endif %}
                </td>
                <td>{{ band.musicalCurrent }}</td>
                <td>{{ band.presentation }}</td>
            </tr>
        {% else %}
            <tr>
                <td>Aucun data trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
